################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Leetcode-test/bin/Debug/net8.0
/Leetcode-test/obj
