################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bin/
*.user
*.suo
/Leetcode/obj
/Leetcode/bin/Debug/net8.0